<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
</head>
<body>
	
	<footer class="footer">
        <div class="contact-info">
                <h2>Contacto</h2>
                
                <p>Telefono: +121 098 8907 9987</p>
                <p>Instagram: crys_15</p>
                <p>Email: info@example.com</p>
                <p class="copy">© 2023 nombre web | Por Jordy Camacho</p>
        </div>
    </footer>
     
</body>
</html>