<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
</head>
<body>
	
	<footer class="footer">
        <div class="contact-info">
                <h2>Contacto</h2>
                
                <p>Telefono: +34 640 73 73 74</p>
                <p>Instagram: ------</p>
                <p>Email: -----</p>
                <p class="copy">© 2023 Kuntur Tattoo | Por Jordy Camacho</p>
        </div>
    </footer>
     
</body>
</html>