<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/baseA :: headA}">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navA">
  
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#" th:href="@{/}">inicio</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav">
		  
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" th:href="@{/ad}">Agregar imagen</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#" th:href="@{/ad/lista}">mensajes</a> 
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>

<script th:src="@{/js/scroll.js}"></script>

</body>
</html>